body {
    margin: 0;
    background-color: #F8F9FC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

html, body, .grid-container { 
    height: 100%; 
    margin: 0; 
}

.content {
    padding-top: 70px;
    height: 100%;
}

#logo {
    height: 60%;
    margin: 15px;
}

#notification {
    float: right;
    opacity: 0.6;
    height: 40%;
    margin: 18px;
    cursor: pointer;
}

#notification:hover {
    opacity: 0.8;
}

#user-image {
    float: right;
    height: 80%;
    margin: 5px;
}

.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;

    height: 60px;
    background-color: #FFFFFF;
}

ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
  
li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
    
li a {
    color: #fff;
}
  
li:hover {
    background: red;
    cursor: pointer;
}
  
ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
ul li ul li {
    clear: both;
    width: 100%;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}