
@keyframes header-animation{
    from{transform: translateY(-1000px);}
    to{transform: translateY(0px)}
}

@keyframes block-1-animation{
    from{transform: translateX(-1000px);}
    to{transform: translateX(0px)}
}

@keyframes block-2-animation{
    from{transform: translateX(-1000px);}
    to{transform: translateX(0px)}
}

@keyframes block-3-animation{
    from{transform: translateY(-1000px);}
    to{transform: translateY(0px)}
}

@keyframes block-4-animation{
    from{transform: translateY(1000px);}
    to{transform: translateY(0px)}
}

@keyframes block-5-animation{
    from{transform: translateY(-1000px);}
    to{transform: translateY(0px)}
}

@keyframes block-6-animation{
    from{transform: translateY(1000px);}
    to{transform: translateY(0px)}
}

@keyframes block-7-animation{
    from{transform: translateX(1000px);}
    to{transform: translateX(0px)}
}

@keyframes block-8-animation{
    from{transform: translateX(1000px);}
    to{transform: translateX(0px)}
}

@keyframes block-9-animation{
    from{transform: translateY(1000px);}
    to{transform: translateY(0px)}
}
