.inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#FFFFFF;
}

.block-1:hover .back{
    opacity: 1;
    transition: all 1s ease;
}

.block-2:hover .back{
    transform: rotate(360deg);
    opacity: 1;
    transition: all 1s ease;
}

.block-3:hover .back{
    transform: translate3d(40px, 40px, 30px);
    opacity: 1;
    transition: all 1s ease;
}

.block-4:hover .back{
    transform: scale(1.3) translateY(-30px);
    opacity: 1;
    transition: all 0.5s ease;
}

.block-5:hover .back{
    transform: rotate(375deg) scale(1);
    opacity: 1;
    transition: all 0.5s ease;
}

.block-6:hover .back{
    transform: skewY(-5deg);
    opacity: 1;
    transition: all 1s ease;
}

.block-7:hover .back{
    transform: rotateY(360deg);
    opacity: 1;
    transition: all 1 ease;
}

.block-8:hover .back{
    transform: scaleX(0.8) scaleY(0.8); 
    opacity: 1;
    transition: all 0.5s ease;
}

.block-9:hover .back{
    transform: scaleY(1);
    opacity: 1;
    transition: all 0.5s ease;
}