.notification-messages {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}

.msg-text {
  width: 80%;
}

.message {
  padding: 6px;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 175px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.success-notification {
  background: #77B676;
}

.error-notification {
  background: #CC615A;
}