.grid-container {
    margin: auto;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-5 block-5 block-5 block-5 block-5 block-5 block-5 block-5" 
                        "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-5 block-5 block-5 block-5 block-5 block-5 block-5 block-5" 
                        "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-5 block-5 block-5 block-5 block-5 block-5 block-5 block-5" 
                        "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-6 block-6 block-6 block-6 block-6 block-7 block-7 block-7" 
                        "block-2 block-2 block-2 block-2 block-3 block-3 block-3 block-3 block-6 block-6 block-6 block-6 block-6 block-7 block-7 block-7" 
                        "block-2 block-2 block-2 block-2 block-3 block-3 block-3 block-3 block-6 block-6 block-6 block-6 block-6 block-8 block-8 block-8" 
                        "block-2 block-2 block-2 block-2 block-4 block-4 block-4 block-4 block-6 block-6 block-6 block-6 block-6 block-8 block-8 block-8" 
                        "block-2 block-2 block-2 block-2 block-4 block-4 block-4 block-4 block-6 block-6 block-6 block-6 block-6 block-9 block-9 block-9";
}

.grid-container div {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-1 { 
    grid-area: block-1;
    font-size: 25px;
    background-color: #FFFFFF;
    animation-name: block-1-animation;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

#join-button{
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #00BFFF;
    cursor: pointer;
    outline: none;
}

.block-2 { 
    grid-area: block-2; 
    font-size: 125px;
    background-color: #52BF77;
    animation-name: block-2-animation;
    animation-delay: 1.9s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-3 { 
    grid-area: block-3;
    font-size: 75px;
    background-color: #F7CF69;
    animation-name: block-3-animation;
    animation-delay: 2.1s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-4 { 
    grid-area: block-4; 
    font-size: 50px;
    background-color: #E12B4C;
    animation-name: block-4-animation;
    animation-delay: 2.3s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-5 { 
    grid-area: block-5;
    font-size: 100px;
    background-color: #8893C0; 
    animation-name: block-5-animation;
    animation-delay: 2.7s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-6 { 
    grid-area: block-6;
    font-size: 125px;
    background-color: #642077;
    animation-name: block-6-animation;
    animation-delay: 3.1s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-7 { 
    grid-area: block-7;
    font-size: 25px;
    background-color: #2D99FF;
    animation-name: block-7-animation;
    animation-delay: 2.9s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-8 { 
    grid-area: block-8;
    font-size: 25px;
    background-color: #0443A3;
    animation-name: block-8-animation;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.block-9 {  
    grid-area: block-9;
    font-size: 25px;
    background-color: #00265F;
    animation-name: block-9-animation;
    animation-delay: 1.7s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}