.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    border-bottom: 2px solid #dedede;
    height: 60px;
    background-color: #FFFFFF;
    animation-name: header-animation;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
}

#bsa-logo {
    height: 60%;
    margin: 15px;
    margin-left: 155px;
}

#notification-logo {
    float: right;
    opacity: 0.6;
    height: 40%;
    margin: 18px;
    cursor: pointer;
    margin-right: 15px;
}

#notification-logo:hover {
    opacity: 5;
}

#user-logo {
    float: right;
    height: 80%;
    margin: 5px;
    opacity: 0.6;
    cursor: pointer;
    margin-right: 155px;
}

#user-logo:hover {
    opacity: 5;
}

