#main-logo {
    height: 150px;
    width: auto;
}

#java-logo{
    height: 125px;
    width: auto;
    cursor: pointer;
}

#php-logo{
    height: 200px;
    width: auto;
    cursor: pointer;
}

#qa-logo{
    height: 125px;
    width: auto;
    cursor: pointer;
}

#js-logo{
    height: 225px;
    width: auto;
    cursor: pointer;
}

#dotnet-logo{
    height: 225px;
    width: auto;
    cursor: pointer;
}

#blog-logo {
    height: 125px;
    width: auto;
    cursor: pointer;
}

#facebook-media-logo {
    height: 40px;
    width: auto;
}

#telegram-media-logo {
    height: 30px;
    width: auto;
}

#instagram-media-logo {
    height: 40px;
    width: auto;
}