html, body { 
    height: 100%; 
    margin: 0; 
    background-color: #F8F9FC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    padding-top: 100px;
    height: 100%;
}   

p {
    color: black;
    font-size: large;
    font-weight: bold;
    overflow: auto;
    text-align: center;
    margin: 10px;
    font-family: "Courier New", Courier, monospace;
}
a {
    text-decoration: none;
}