.dropdown {
    float: right;
    position: relative;
    margin: 5px;
    height: 80%;
}

.dropdown-content {
    display: none;
    left: 50px;
    position: absolute;
    background-color: #ededed;
    min-width: 100px;
    box-shadow: 3px 8px 16px 3px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a {
    width: 100%;
    font-weight: bold;
    float: right;
    color: #000000;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}